
@{
    ViewBag.Title = "EventSuccess";
}

<div style="padding:20px;padding-top:80px;">
    <div class="jumbotron" style="background-color:white">
        <span style="font-size:35px;color:green">Your Event has been created Successfully <span class="glyphicon glyphicon-ok"/></span>
    </div>
</div>
